@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-bg:hsl(233, 47%, 7%);
    --card-bg: hsl(244, 38%, 16%);
    --text-accent:hsl(277, 64%, 61%);

    --text-p:hsla(0, 0%, 100%, 0.527);
    --stats-h:hsla(0, 0%, 100%, 0.445);
}

body{
    display: grid;
    min-height: 100vh;
    place-items: center;
    background-color: var(--main-bg);
    font-family: 'Inter', sans-serif;
    color: white;
    padding: 1rem;
}

.hide{
    display: none;
}

.container{
    background-color: var(--card-bg);
    max-width: 600px;
    border-radius: .7rem;
    overflow: hidden;
}

.image-mobile{
    background-color: var(--text-accent);
    background-image: url(/images/image-header-mobile.jpg);
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}


.text-area{
    padding: 2rem;
    text-align: center;
}

h1 span{
    color: var(--text-accent);
}

.title{
    margin-bottom: 1rem;
}

p{
    color: var(--text-p);
    margin-bottom: 1rem;
    line-height: 2rem;
    font-weight: 400;
    font-size: .9rem;
}

.stats-area h1{
    font-size: 1.5rem;
}

.stats-area p{
    text-transform: uppercase;
    font-size: .8rem;
    letter-spacing: .1rem;
    color: var(--stats-h);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: lighter;
}

.image-desktop{
    display: none;
}

@media only screen and (min-width: 900px){

    .container{
        max-width: 1030px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .image-mobile{
        display: none;
    }

    .image-desktop{
        display: block;
        background-color: var(--text-accent);
        width: 100%;
        background-image: url(/images/image-header-desktop.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: multiply;
    }

    .wrap-text-area{
        margin-top: 2rem;
        background-color: rgba(241, 240, 255, 0);
        margin-right: 1rem;
        width: 85%;
    }

    .text-area{
        text-align: start;
        padding: 3rem;
    }

    .stats-area{
        display: flex;
        margin-top: 3rem;
        justify-content: space-between;
    }
    
}